// Avenir
@font-face {
    font-family: Avenir-Bold;
    font-style: normal;
    src: url('~@/../public/fonts/AvenirNextLTPro-Bold.otf');
    font-display: swap;
}
@font-face {
    font-family: Avenir-Bold-Condensed;
    font-style: normal;
    src: url('~@/../public/fonts/AvenirNextLTPro-BoldCn.otf');
    font-display: swap;
}
@font-face {
    font-family: Avenir-Condensed;
    font-style: normal;
    src: url('~@/../public/fonts/AvenirNextLTPro-Cn.otf');
    font-display: swap;
}
@font-face {
    font-family: Avenir-Medium-Condensed;
    font-style: normal;
    src: url('~@/../public/fonts/AvenirNextLTPro-MediumCn.otf');
    font-display: swap;
}
@font-face {
    font-family: Avenir-Regular;
    font-style: normal;
    src: url('~@/../public/fonts/AvenirNextLTPro-Regular.otf');
    font-display: swap;
}
