.interaction,
.interactions {
    // En caso de cambiarlo, actualizar el mixin
    pointer-events: auto;
    cursor: pointer;
    // transition-duration: $transition-duration;
}

.empty {
    // En caso de cambiarlo, actualizar el mixin
    @include font-size(18);
    color: #aaa;
    text-align: center;
    padding: 50px 30px;
    font-family: $text-light;

    &.over-dark {
        color: #ccc;
    }
}

.ico {
    // En caso de cambiarlo, actualizar el mixin
    @include background($size: 20px);
    display: inline-block;
    width: 40px;
    height: 40px;

    &.edit {
        background-image: img('edit_dark.svg');
    }
    &.delete {
        background-image: img('delete_dark.svg');
    }
    &.download {
        background-image: img('download_dark.svg');
    }
}

.results {
    font-style: italic;
    text-align: center;
    color: $main-s40;
    width: 100%;
}
.results.loading {
    @include background($image: img('loader2_primary.svg'), $size: 40px);
    height: 40px;
}

.error-message,
.success-message,
.info-message {
    @include border-radius(3px);
    @include font-size(s);
    font-family: $text-bold;
    color: $inactive-s50;
    background-color: $inactive-t50;
    padding: 6px 9px;
    margin-top: 15px;
}
.error-message {
    color: $error-s50;
    background-color: $error-t50;
}
.success-message {
    color: $done-s50;
    background-color: $done-t50;
}
.info-message {
    color: $info-s50;
    background-color: $info-t50;
}

.keep-format {
    // En caso de cambiarlo, actualizar el mixin
    span,
    p {
        @include font-size(inherit);
        color: inherit;
    }
    b,
    strong {
        font-weight: bold;
        @include font-size(inherit);
        color: inherit;
    }
    i {
        font-style: italic;
        @include font-size(inherit);
        color: inherit;
    }

    ul,
    ol {
        list-style: disc;
        padding: 5px 0;
        padding-left: 30px;

        li {
            @include font-size(inherit);
            color: inherit;
        }
    }
    ol {
        list-style: decimal;
    }
}

.dft-user-color {
    // En caso de cambiarlo, actualizar el mixin
    border-radius: 50%;
    display: inline-block;
    min-width: 30px;
    width: 30px;
    height: 30px;
    padding: 0 2px;

    &:after {
        @include font-size(12);
        line-height: 1;
        font-family: $text-bold;
        color: #fff;
        text-align: center;
        width: 100%;
        height: 100%;
        display: inline-block;
        overflow: hidden;
        padding: 9px 3px;
    }
}

// Especifico de AUDITS
.sty-score {
    // En caso de cambiarlo, actualizar el mixin
    & > *,
    & {
        color: $main;
    }
    &.success > *,
    &.success {
        color: $done;
    }
    &.progress > *,
    &.progress {
        color: $progress;
    }
    &.warning > *,
    &.warning {
        color: $warning;
    }
    &.error > *,
    &.error {
        color: $error;
    }
}

//@import 'pdf';
